$scrollbar-width: 2px;
$scrollbar-track-color: none;
$scrollbar-thumb-color: rgba(#ffffff, 0.1);

$page-color: #0c0c0c;
$text-color: #e0e0e0;

$menu-color: #080808;
$menu-width: 270px;

$search-color: #030303;
$search-placeholder-color: #afafaf;

$primary-color: #199ef6;
$primary-hover-color: #81d4fa;

$menu-child-padding: 14px;
$menu-child-sub-padding: 28px;
$menu-text-size: 13px;

$transition-time: 0.2s;